beautifulsoup4==4.4.1
constantly==15.1.0
cycler==0.9.0
Flask==0.10.1
gunicorn==19.4.1
incremental==16.10.1
itsdangerous==0.24
Jinja2==2.8
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.5.0
nltk==3.1
numpy==1.10.1
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
requests==2.8.1
six==1.10.0
Twisted==16.6.0
Werkzeug==0.11.2
wheel==0.24.0
zope.interface==4.3.2
